/*通用粉色字体*/
.pink1 {
  color: #fa9dac !important;
}

/*通用粉色背景*/
.bacpink {
  background: #fa9dac !important;
}

/*通用白色字体*/
.white1 {
  color: white;
}

/*通用黑色字体*/
.imcolor-black {
  color: #4D4143;
}
/* 通用灰色字体 */
.f-gray{
  color: #878787;
}
/*版心*/
.wid {
  width: 1200px;
  margin: auto;
}
i{
  font-style:normal;
}
.fr {
  float: right;
}

.fl {
  float: left;
}

.font16 {
  font-size: 16px;
}


.clearfix:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}
.cursor{
  cursor: pointer;
}
/* 导航栏设置1 */
header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  line-height: 44px;
  z-index: 100;
}

header div.main {
  margin: 25px auto 0px auto;

}

/* 导航栏设置2 */
/* 面包屑导航1 */
.bar {
  padding-top: 130px;
  padding-bottom: 13px;
  /* background: white; */
  border-bottom: 0.5px solid #0f0e0e;
}
.bar span{
  display:inline-block;
  margin-right: 10px;
  padding:2px 6px;
  border:1px solid rgb(109, 107, 107);
  border-radius:5px;
  font-size:14px;
  cursor: pointer;
}
.bar span:hover{
  color:#fa9dac;
}
.bar>span~span{
margin-left:10px;
}
.icon-dayuhao{
  color:black;
  font-size:15px;
}
/* 面包屑导航2 */
/* 导航栏内部隐藏区域设置1 */
.navid ul li {
  list-style: none;
  float: left;
  margin: 0 28px;
}

.navid ul li.navid-list {
  cursor: pointer;
}

.navid {
  padding: 20px;
}

.navid-list,
.navid-list p {
  text-align: center;
  width: 200px;
}

.navid-list>img {
  width: 200px;
  height: 133px;
  display: block;
}

.navid-list>p:nth-child(1) {
  font-size: 16px;
  color: #333;
}

.navid-list>p:nth-child(2) {
  font-size: 16px;
  color: #f775a7;
}

.navid .navid-gray {
  width: 1px;
  height: 104px;
  background: #e5e5e5;
  margin-top: 41px;
}
header .flower img {
  position: absolute;
  display: inline-block;
  /* width: 30px; */
  animation:flower 1.5s linear infinite;
}
.cake-logo{
  position: relative;
}
header .flower>img:nth-child(1) {
  width: 30px;
  left: 200px;
  top: 0px;
}
header .flower>img:nth-child(2) {
  width: 40px;
    left: 10px;
    top: 35px;
} 
/* 右侧固定导航栏1 */
.right-nav{
  width:78px;
  height:395px;
  position:fixed;
  color:#fa9dac;
  text-align: center;
  right:0;
  top:260px;
  background-color: white;
  border-bottom:1px solid rgb(240, 141, 141);
}
.right-nav .big-png{
  position:absolute;
  width:100px;
  height:100px;
  left:105px;
  top:0;
  background:url("http://localhost:3000/images/index/weixin_ewm.png");
  background-size:100% 100%;
  opacity: 0;
  transition:all 0.4s linear;
}
.nav-ritem:hover > .big-png{
left:-105px;
opacity: 1;
}
.nav-ritem{
  border:1px solid rgb(240, 141, 141);
  height:78px;
  border-bottom: 0px ;
  cursor:pointer;
  position: relative;
}
.nav-ritem img{
display:inline-block;
}
.nav-ritem img{
  height:30px;
  margin-top:10px;
}
.nav-ritem p{
  font-size:12px;
  /* margin-top:-10px; */
  line-height:20px;
}
/* 右侧固定导航栏2 */
/* 导航栏内部隐藏区域设置2 */
/* 页面底部开始 */
.footer {
  text-align: center;
  background-color: #fa9dac;
  position: relative;
}

.footer>.wid {
  padding: 60px;
}

.footer ul {
  margin: 10px auto;
}

.footer ul>li {
  display: inline-block;
  margin: 10px;
}

.footer ul a {
  color: white;
  font-size: 14px;
}

.footer ul a:hover {
  color: black;
}

.footer .hr {
  color: rgb(85, 59, 63);
  font-size: 12px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(246, 195, 203);
}

.footer i,
.footer i a {
  color: rgb(85, 59, 63);
  font-size: 12px;
  font-style: normal;
  display: inline-block;
  margin-top: 10px;
}

.footer i a:hover {
  color: white;
}

.footer .flower img {
  position: absolute;
  display: inline-block;
  /* width: 30px; */
  animation:flower 1.5s linear infinite;
}

.footer .flower>img:nth-child(1) {
  width: 100px;
  left: 19px;
  top: 101px;
}

.footer .flower>img:nth-child(2) {
  width: 80px;
  left: 130px;
    top: 112px;
}

.footer .flower>img:nth-child(3) {
  width: 60px;
  left: 230px;
    top: 121px;
}
.footer .flower>img:nth-child(4) {
  width: 50px;
  left: 306px;
    top: 127px;
}.footer .flower>img:nth-child(5) {
  width: 35px;
  left: 367px;
  top: 135px;
}
@keyframes flower{
 
  0%{-webkit-transform:rotate(0deg);}

  25%{-webkit-transform:rotate(90deg);}

  50%{-webkit-transform:rotate(180deg);}

  75%{-webkit-transform:rotate(270deg);}

  100%{-webkit-transform:rotate(360deg);}

}
/* 页面底部结束 */
/* 左边距10px1 */
.ml-10{
  margin-left:10px;
}
/* 左边距10px2 */
.dn{
  display:none;
}
.text-gray{
  color:gray;
}
.font-w6{
  font-weight: 600;
}
.bgcy{
  background-color: #f5f5f5;
}
.btn-pink{
  cursor: pointer;
  border: 1px solid #fa9dac;
  background-color: #fa9dac;
  color:white;
  display: inline-block;
  text-align: center;
  padding: 8px  20px;
  margin: 10px 20px 0 0;
  border-radius: 5px;
}
.btn-white{
  cursor: pointer;
  border: 1px solid #fa9dac;
  display: inline-block;
  text-align: center;
  padding: 8px 20px;
  margin: 10px 20px 0 0;
  border-radius: 5px;
}
*{
  padding:0;
  margin:0;
}
a{
  cursor: pointer;
  text-decoration: none;
}