body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { 
margin: 0;
padding: 0;  
font-family: "微软雅黑"; 
}

fieldset, img {
border: 0; 
}

ul, ol, li { 
list-style: none;
font-family:'Microsoft YaHei'; 
}

b,strong{
font-weight: normal;
}

/* remember to define focus styles! */
:focus {
outline: 0; 
}

address, caption, cite, code, dfn, em, strong, th, var, optgroup { 
font-style: normal; 
font-weight: normal; 
}

h1, h2, h3, h4, h5, h6 { 
font-size: 100%;
font-weight: normal;
}

abbr, acronym {
border: 0;
font-variant: normal;
}

input, button, textarea, select, optgroup, option { 
font-family: inherit; 
font-size: inherit; 
font-style: inherit;
font-weight: inherit;
background-color: #fff;
border: none;
}

code, kbd, samp, tt { 
font-size: 100%; 
}

a{
text-decoration:none;
color:inherit;
}

a:hover{
  text-decoration: none;
	color: #f00;
	background: none;
}

/*@purpose To enable resizing for IE 
用于为IE启用大小调整*/
/*@branch For IE6-Win, IE7-Win */
input, button, textarea{ 
*font-size: 100%;
}

ol, ul ,ul>li{ 
list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table,tr,td {
border-collapse: collapse;
border-spacing: 0; 
margin:0;
padding:0;}

caption, th { 
text-align: left;
}

sup, sub { 
font-size: 100%;
vertical-align: baseline;
}

/* remember to highlight anchors and inserts somehow!记住以某种方式突出显示锚和插入！ */
blockquote, q { 
quotes: none; 
}

blockquote:before, blockquote:after, q:before, q:after { 
content: ''; 
content: none; 
}