.cake-logo {
    width: 200px;
}

.cake-logo img {
    width: 100%;
    display: block;
}


body{
    min-width: 1300px;
}
.location {
    margin: 0 30px 0 40px;
}

.location a {
    font-size: 14px;
}

.location a:hover {
    color: white;
}

.nav {
    width: 690px;
    margin-left: 24px;
}

header .location:hover {
    background-color: #85302a;
}

.nav .location {
    border-radius: 20px;
    width: 60px;
    text-align: center;
}

.nav,
.login {
    /* margin-left:10px; */
    line-height: 30px;
    margin-top: 5px;

}
section>div:nth-child(1){
    padding-top:120px;
}
.nav .nav-item {
    float: left;
    /*padding:0px 28px; */
    height: 70px;
    width: 98px;
    text-align: center;
    /* margin-left:20px; */
    /*background:red;*/
}

.search input {
    width: 160px;
    line-height: 28px;
    border: 1px solid #fa9dac;
    color: black;
    text-indent: 10px;
}

.search button {
    width: 60px;
    line-height: 30px;
}

.search input:focus {
    color: #fa9dac;
}

input::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #aab2bd;
    /* placeholder字体大小  */
    font-size: 14px;
    /* placeholder位置  */
    text-align: left;
}

/* .search button:hover{
background-color:#85302a;
} */

.login .userphoto i {
    width: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    color: white;
    border-radius: 50%;
    display: block;
    margin: 0px 0px 0px 32px;
}

.login .userphoto i:hover {
    background-color: #85302a ;
}

/*隐藏导航栏*/
.navid {
    position: absolute;
    height: 200px;
    width: 1200px;
    background-color: white;
    display: none;
    left: 0;
    top: 70px;
    box-shadow: 2px 2px 10px 2px #ccc;
}

.main {
    position: relative;
}

.nav li:hover .navid {
    display: block;
    left:0;
}

/* 侧边栏导航 */
.index-one-left {
    /* background-color:#faa7b4; */
    float: left;
    position: relative;
    width: 228px;
    height: 442px;
}

.index-one-left-name {
    padding: 30px 0 20px 0;
}

.index-one-left-2 {
    border-bottom: 1px dashed white;
    margin: 0px 25px 0px 25px;
    height: 1px;
}

.index-one-left-name a {
    display: block;
}

.index-one-left-name a div {
    /* width:228px; */
    font-size: 16px;
    padding: 0 25px 0 40px;
    box-sizing: border-box;
}
.index-left-item,.index-left-item>a {
    width:228px;
    height:40px;
}
.index-one-left-name a:hover {
    background-color: #85302a;
}

.index-one-left-name img {
    height: 22px;
    width: 22px;
    vertical-align: middle;
}

.index-one-left-name a .img2 {
    width: 7px;
    height: 12px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

.index-one-left-name p {
    color: white;
    width: 100px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
}

.index-one-left-name a .index-blank {
    width: 228px;
    height: 80px;

}
.navid{
    z-index: 30;
}

/* 侧边栏小标题部分开始 */
/* 隐藏部分鼠标滑过出现开始 */
.index-left-item-right {
    position: absolute;
    left: 228px;
    top: 0;
    background-color: #fff;
    width: 972px;
    height: 440px;
    border-right: 2px solid #ccc;
    border-top: 1px solid #ccc;
    box-shadow: 5px 5px 11px #ccc;
    z-index: 20;
    display: none;
}

.index-left-item-right ul {
    display: block;
    margin: 35px 0 0 35px;
    overflow: hidden;
}

.index-left-item-right ul li {
    cursor: pointer;
    float: left;
    margin-left: 25px;
    margin-top: 24px;
    width: 150px;
}

.index-left-item-right ul li img {

    width: 63px;
    height: 42px;
}

.index-left-item:hover .index-left-item-right {
    display: block;
}

/* 隐藏部分鼠标滑过出现结束 */
/* 侧边栏小标题部分结束 */
/* 轮播图开始 */
#banner{
    width: 972px;
    height: 442px;
    position: relative;
    float: left; 
    overflow: hidden;
}
#ul-imgs img{
 width: 972px;
}
#ul-imgs>li{
    width:972px;
    float:left;
}
#ul-imgs{
list-style:none;
width:4860px;
}
#ul-imgs.transition{
    transition:all .5s linear;
  }
/* 轮播图小点点设置开始 */
#ul-idxs{
    /* width:100px; */
    list-style:none;
    position:absolute;
    bottom:6%;
    left:50%;
    /* margin-left:-50px; */
    transform: translateX(-50%)
    
}
#ul-idxs>li{
    float:left;
    width:10px;
    height:10px;
    background-color: #fff;
    margin:0 5px;
    border-radius:50%;
    cursor:pointer;
}
#ul-idxs>li.active{
background-color: #fa9dac;
}
#btn-left,#btn-right{
    width:60px;
    height:100%;
    position:absolute;
    top:0;
    background-repeat:no-repeat;
    background-position:center;
    cursor:pointer;
}
#btn-left{
    left:20px;
    background-image: url("../images/index/left_ar.png");
}
#btn-right{
    right:20px;
    background-image: url("../images/index/right_ar.png");
}
#btn-left:hover,#btn-right:hover{
    background-size: 40px 65px;
}
/* 轮播图小点点设置结束 */
/* 轮播图结束 */
/* 轮播图下第一区域开始 */
/* 轮播图下第一区域第一块开始 */
.index-two{
    margin-top:15px;
    clear:both;
}
.index-two-r1{
    float:left;
    position:relative;
}
.index-two-r0{
    position: absolute;
    width:229px;
    height:167px;
}
.index-two-r00-img{
    width:229px;
    height:167px;  
}
.index-two-r0>div{
    width: 114.5px;
    height: 83.5px;
    float: left;
    cursor: pointer;
}
.index-two-r img{
    transition:all 1.2s ;
}
.index-two-r img:hover{
    box-shadow: 1px 2px 15px #ccc;
    transform:scale(1.05,1.05);
    /* transform:rotate3D(0,1,0,180deg); */
}
.index-two-r01:hover{
    background-image: url("../images/index/index-two-01-1.png");
}
.index-two-r01{
    background-image: url("../images/index/index-two-01.png");
    background-size: cover;
}
.index-two-r02:hover{
    background-image: url("../images/index/index-two-02-1.png");
}
.index-two-r02{
    background-image: url("../images/index/index-two-02.png");
    background-size: cover;
}
.index-two-r03:hover{
    background-image: url("../images/index/index-two-03-1.png");
}
.index-two-r03{
    background-image: url("../images/index/index-two-03.png");
    background-size: cover;
}
.index-two-r04:hover{
    background-image: url("../images/index/index-two-04-1.png");
}
.index-two-r04{
    background-image: url("../images/index/index-two-04.png");
    background-size: cover;
}

/* 轮播图下第一区域第2块开始 */
.index-two-r img{
    width:310px;
    height:167px;
}
.index-two-r>a{
    display:inline-block;

}
.index-two-r{
    float:left;
    margin-left:13px;
    margin-bottom:20px;
}
/* 轮播图下第一区域结束 */
/* 轮播图下第二区域1 */
.middle-product{
   padding-top:20px;
    background-color: #f5f5f5;
    width:100%;
    margin:0 auto;
}
@media  screen and ( max-width:1200px ) {
    .middle-product{
        padding-top:20px;
         background-color: #f5f5f5;
         width:100%;
         margin:0 auto;
     }
}
.active-banner a{
    display:inline-block;
}
.active-banner{
    padding-bottom:30px;
    padding-top:5px;
}
.active-banner a img{
    width:100%;
    display:inline-block;

}
/* 轮播图下第二区域2 */
/* 匠心原创1 */
.index-five-title-l{
    float:left;
    font-size:24px;
    color:#fa9dac;
}
.index-five-title-l,.index-five-title-r{
    display:inline-block;
    text-align:center;
}
.index-five-title-r{
    float:right;
    right:25px;
    padding-top:5px;
    position:relative;
}
.index-five-title-r a{
    display:inline-block;
    color:#878787;
}

.index-five-title-r a:after{
    display:block;
    content:"";
    position:absolute;
    right:-26px;
    top:5px;
    width:22px;
    height:22px;
    background: url("../images/index/ndex-five-title-r.png") no-repeat center center;
    background-size: 22px 22px;
}
.index-five-title{
    padding-bottom:30px;
}
/* 匠心原创2 */
/* 匠心内容1 */
.index-five-list-l{
/* display:block; */
width:258px;
height:626px;
float:left;
margin-right:12px;
}
.index-five-list-l img{
    width:100%;
}
.index-five-list-r{
    /* float:left; */
    text-align:center;
    position: relative;
}
.index-five-tab{
    width:300px;
    height:297px;
    margin-left:10px;
    /* position:relative; */
    background: #fff;
    transition:all .3s linear;
    overflow: hidden;
    float:left;
    position: relative;
    /* z-index:10; */
}
.index-five-tab:hover{
box-shadow:0 15px 30px rgba(0,0,0,0.1);
transform:translate3d(0,-2px,0);
}
.index-five-tab img.img-b{
    transition:all .7s ;
    height:200px;
    width:300px;
}
.index-five-tab img:hover{
    transform:rotate3D(0,1,0,180deg); 
}
.index-five-tab>a{
    display:block;
    overflow: hidden;
}
.index-five-tab-name {
    font-size: 16px;
    text-align: center;
    line-height: 19px;
    height: 19px;
    /* z-index:2; */
}
.index-five-tab-price {
    text-align: center;
    font-size: 22px;
    font-weight:500;
    color:#fa9dac;
    line-height: 19px;
    height: 19px;
    margin-top: 13px;
    /* z-index:2; */
}
.index-five-tab-volume {
    text-align: center;
    font-size: 15px;
    line-height: 16px;
    height: 16px;
    margin-top: 10px;
    color:#878787;
    /* z-index:2; */
}
.index-five-tab-car{
    position:absolute;
    bottom:17px;
    right:20px;
    height:22px;
    width:22px;
    /* z-index:2; */

}
/* 购物车隐藏部分1 */
.index-five-tab-tc{
    position:absolute;
    bottom:0;
    width:100%;
    /* left: 0; */
    height:125px;
    background: #fafafa;
    display:none;
    /* opacity: 0; */
    /* z-index:0; */
    transition:all .3s linear;
    /* border:2px solid white; */
}
.index-five-tab-tc1{
    font-size:16px;
    text-align:left;
    margin-left:28px;
    line-height:19px;
    margin-top:12px;
}
.index-five-tab-tc2 div a{
    display:inline-block;
    /* border:1px solid red; */
    /* float:left; */
    /* margin-left:3px; */
    font-size:15px;
    width:58px;
    line-height:27px;
    text-align:center;
    
}
.index-five-tab-tc2>div{
    position:relative;
    border:1px solid #fa9dac;
    display:inline-block;
    margin:12px auto;
}
.index-five-tab-tc2>div>img{
    width:11px;
    position:absolute;
    top:0;
    left:0;
}
.index-five-tab-tc2>div>a:hover{
color:#fa9dac;
}
.index-five-tab-tc3>a{
    display:inline-block;
    border:1px solid #fa9dac;
    text-align:center;
    color:#fa9dac;
    padding:2px;
    font-size:14px;
    width: 105px;
    line-height: 24px;
}
.index-five-tab-tc3>a:nth-child(2){
    background-color: #fa9dac;
    color:white;
}
.index-five-list-r>div:nth-child(3)~div{
    margin-top:14px;
}
.index-five-tab-tc4{
    color:#fa9dac;
    position:absolute;
    top:5px;
    right:5px;
    font-size:20px;
    cursor:pointer;
    /* border:1px solid #f775a7; */
    /* padding:1px; */
}
/* 匠心内容2 */
/* 网红爆款开始1 */
.hotProduct .index-five-tab{
margin-left:13px;
margin-top:0;
width: 290px;
margin-bottom:20px;
}
.hotProduct .index-five-tab:nth-child(1){
    margin-left:0px;
    }
.hotProduct >div:nth-child(3)~div {
        margin-top: 0px;
    }    
/* 网红爆款开始2 */
/* 网页底部价格解释1 */
.footer-a{
    padding-top:80px;
    padding-bottom:30px;
   text-align: center;
}
.footer-a span{
display:block;
margin:10px auto;
color:rgb(163, 161, 161);
font-size:14px;
}
/* 网页底部价格解释2 */
/* 第一个视频推介1 */
.product-video{
    width: 100%;
    margin-bottom: 15px;
}
.product-video video{
    width: 100%;
}
/* 第一个视频推介2 */