/* 收货地址1 */
.address{
  padding:10px 0 50px 0;
}
.address>p{
  font-size:16px;
  padding-bottom: 20px;
  color:#fa9dac;
}
.add-item{
  height:180px;
  width: 270px;
  border:1px solid #ccc;
  padding:20px;
  /* display:inline-block; */
  box-sizing: border-box;
  margin-right:20px;
  float: left;
  position: relative;
}
.add-active{
  border:1px solid #fa9dac;
}
.add-item>p{
  font-size:14px;
  color:gray;
  line-height:22px;
}
.add-item>h2{
  font-size:16px;
  margin-bottom: 15px;
}
.add-item>div{
  padding-top:10px;
}
.add-item span{
  position: absolute;
  right: 24px;
  bottom: 10px;
  font-size: 14px;
  color:#fa9dac;
}
add-item-one{
  text-align: center;
}
.add-item i{
  display:block;
  text-align: center;
  color:#ccc;
  display: block;
  width: 30px;
  height: 30px;
  margin: 50px auto 5px;
  font-size: 30px;
  line-height: 30px;
  cursor: pointer;
}
.add-item b{
  display: block;
  text-align: center;
  color:gray;
}
/* 收货地址2 */
/* 送货时间1 */
.other-detail{
  padding:50px 0;
}
.other-detail p{
  margin-bottom: 30px;
}
.other-detail span{
width:160px;
line-height: 30px;
display:inline-block;
text-align: center;
font-size:12px;
border-radius:8px;
margin-bottom: 30px;
cursor: pointer;
}
.other-detail>span{
  background-color: #fa9dac;
  color:white;
  }
  .other-detail>i{
    display:inline-block;
    margin-right:20px;
    font-size:13px;
    color:#fa9dac;
  }
  .other-detail>input{
    display:block;
    margin:40px 0;
    border:1px solid #ccc;
    width:100%;
    height:60px;
    padding:10px 20px;
    border-radius: 10px;
  }
  .times{
    padding-right:500px;
  }
  .times>p{
    font-size:16px;
    padding-bottom: 10px;
    color:#fa9dac;
    
  }
.times>span{
  border:1px solid #ccc;
  margin-right:20px;
}
.times .times-active{
  background-color: #fa9dac;
  border:1px solid #fa9dac;
}
/* 送货时间2 */